# object, module, and library files
*.o
*.a
*.so
*.mod
*.dylib
tecplot.phy
bin/HORSES3D
make.inc
*.hmesh
*.hsol
RESULTS
SETUP

# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

#Tests noise
Tests/*/*/Build/*
Tests/*/*/Build_Debug/*
Tests/*/*/Build_Release/*
Tests/*/*/RestartFiles/*
Tests/*/*/PlotFiles/*
nslite3d
Tests/*/*/nslite3d
Tests/*/*/*.fide
Tests/Euler/BoxAroundCircle/nslite3BoxAroundCircle
Tests/Euler/UniformFlow/nslite3DUF
Tests/TestMeshes/CylinderNSpol3_v2.mesh
